<!DOCTYPE html>
<html>
<head>
  <!-- NavBar . Also copy the part from start of <body> tag below -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(function() {
        $("#navigation").load("/assets/scripts/nav_bar_responsive.html");
        $("#contact").load("/assets/scripts/contact_section.html");
    });
  </script>

  <!-- Social share button from ShareThis.com -->
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=616463b3e876080012645f3b&product=inline-share-buttons" async="async"></script>


  <title>Juspreet51.in</title>

  <meta charset="UTF-8">
  <!-- Responsive Web Desing -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <!-- Responsive Images -->
  <!-- <img src="img_girl.jpg" style="width:100%;">  -->
  <!-- 1vw = 1% of viewport width -->
  <!-- <h1 style="font-size:10vw">Hello World</h1>  -->

  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  
  <link rel="stylesheet" href="/assets/stylesheets/nav_bar_responsive_style.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" href="/assets/stylesheets/new_blog_style.css">
  <link rel="stylesheet" href="/assets/stylesheets/blinking_fa_icons.css">

  <!-- Google Fonts: Robot Black 900-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">

</head>
<body class="w3-black">
  <!-- NavBar . Also copy the part from start of <head> tag above -->
  <div id="navigation"></div>

  <div class="main_content">
    <!-- ########################################### -->
    <!-- ############## LHS Sidebar ################ -->
    <!-- ########################################### -->
    <div class="sidebar" style="float: left;">
      <h2> Chapters </h2>
      <a href="#">Chapter 1</a> <br>
      <a href="#">Chapter 2</a> <br>
      <a href="#">Chapter 3</a> <br>
      <a href="#">Chapter 4</a> <br>
    </div>
    <div class="center_body">
      <!-- ########################################### -->
      <!-- ############# Needs updates ############### -->
      <!-- ########################################### -->
      <div class="post_title">
        <h1>Post Title</h1>
      </div>
    
    <!-- ########################################### -->
    <!-- ############# Needs updates ############### -->
    <!-- ########################################### -->
    <div class="meta_info">
        <span>
          <p style="float: left;">Posted by: <a href="linkedin.juspreet51.in">Jus Preet</a></p>
        </span>
        <span>
          <p style="float: right; right: 0;">Last updated on: 07th Oct, 2021</p>
        </span>
      </div>
      <br> <br> 
      <!-- ########################################### -->
      <!-- ########### Body Begins Here ############## -->
      <!-- ########################################### -->
      <p id="P1" style="float: left; left: 0;"></p>
      <h2 style="font-size:4vw;">P1</h2>
      <p>
        Refernces in <a href="https://www.youtube.com/watch?v=OrNBEhzjg8I">Video</a> Description
      </p>

      <p>Cras venenatis justo non erat volutpat eleifend. Proin fringilla tempor ante, id placerat sapien dictum elementum. Nulla semper vel elit a consequat. Curabitur in finibus velit. Sed dui ipsum, maximus non scelerisque a, dictum sit amet nulla. Fusce in auctor elit, et pellentesque justo. Aenean ante ex, fermentum et sem at, lacinia pellentesque lectus. Aliquam vel diam nunc. Proin dignissim bibendum turpis, ac consectetur risus dapibus id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur finibus hendrerit ipsum vitae convallis. In efficitur vel neque in tempus. Sed a velit ac purus lacinia dignissim a id urna. </p>

      <!-- Code Script: GitHub Gist -->
      <script src="https://gist.github.com/juspreet51/35aebcd2fe66679bfc98953f215f90c0.js"></script>

      <p id="P2"></p>
      <h2 style="font-size:4vw;">P2</h2>
      <p>Donec elit velit, aliquet in purus faucibus, dapibus ullamcorper diam. Nam et suscipit turpis. Cras laoreet, neque ut ultrices fringilla, magna dolor finibus ipsum, non elementum felis ligula vitae quam. Vivamus a ligula ultricies, fringilla quam id, elementum est. Pellentesque pulvinar eros et metus ornare aliquet. In malesuada, massa at luctus pulvinar, nunc justo porttitor lectus, vitae accumsan ipsum tellus eget nulla. Integer nec ante quis risus venenatis molestie. Mauris gravida tortor <b><a href="#">eu varius pharetraf</a></b>. Vivamus nec vestibulum risus. Donec pretium tincidunt arcu vel auctor. Sed pharetra libero hendrerit, tincidunt metus eu, bibendum magna. Suspendisse ut justo id ligula interdum euismod ut eget lectus. </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut porttitor leo a diam. At imperdiet dui accumsan sit amet nulla. Turpis cursus in hac habitasse platea dictumst quisque. Enim ut sem viverra aliquet eget sit amet. Lacinia at quis risus sed vulputate odio ut. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Sit amet consectetur adipiscing elit. Ut ornare lectus sit amet est placerat in egestas erat. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Accumsan in nisl nisi scelerisque eu ultrices vitae. At varius vel pharetra vel turpis nunc eget. Arcu non odio euismod lacinia at. Leo vel fringilla est ullamcorper eget nulla. </p>

      <p>Morbi tristique senectus et netus et. Senectus et netus et malesuada fames ac turpis. Vivamus at augue eget arcu dictum varius duis at. Tellus mauris a diam maecenas sed enim ut sem. In eu mi bibendum neque. Dictum at tempor commodo ullamcorper. Nec ultrices dui sapien eget mi proin. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Diam ut venenatis tellus in metus vulputate eu scelerisque. At tellus at urna condimentum mattis pellentesque. Viverra adipiscing at in tellus integer. Feugiat pretium nibh ipsum consequat nisl vel. Proin gravida hendrerit lectus a. Aliquet eget sit amet tellus cras adipiscing enim eu. Tempus urna et pharetra pharetra massa massa ultricies. </p>

      <p>Pulvinar pellentesque habitant morbi tristique senectus. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Sed adipiscing diam donec adipiscing tristique risus. Lacus sed turpis tincidunt id aliquet risus. Habitasse platea dictumst quisque sagittis purus sit. Diam in arcu cursus euismod. In dictum non consectetur a erat nam at. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Id volutpat lacus laoreet non curabitur gravida arcu ac. Id porta nibh venenatis cras. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Lorem donec massa sapien faucibus et molestie ac feugiat. </p>

      <p id="P3"></p>
      <h2 style="font-size:4vw;">P3</h2>
      <p>Nulla non turpis nec risus dapibus viverra. Morbi sagittis est ac enim vehicula, in maximus elit facilisis. Morbi aliquam augue metus, ac porttitor nisl aliquam vel. Maecenas at magna at turpis auctor commodo. Donec bibendum vitae dui vitae pellentesque. Nulla consectetur volutpat accumsan. Nullam maximus turpis quis augue posuere tincidunt. Nulla ut libero vitae magna mollis commodo ac nec magna. Curabitur in blandit sapien. Fusce laoreet ipsum ultricies, efficitur massa et, lacinia ipsum. Curabitur at tincidunt dolor, eget porta nulla. Nulla convallis, massa vitae efficitur suscipit, justo odio consectetur elit, a ultrices neque erat a nunc. Pellentesque et purus vitae libero hendrerit faucibus a sit amet erat. Donec faucibus dapibus nibh, id tempus nibh lobortis vel. Quisque a quam et mauris euismod vulputate. </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut porttitor leo a diam. At imperdiet dui accumsan sit amet nulla. Turpis cursus in hac habitasse platea dictumst quisque. Enim ut sem viverra aliquet eget sit amet. Lacinia at quis risus sed vulputate odio ut. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Sit amet consectetur adipiscing elit. Ut ornare lectus sit amet est placerat in egestas erat. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Accumsan in nisl nisi scelerisque eu ultrices vitae. At varius vel pharetra vel turpis nunc eget. Arcu non odio euismod lacinia at. Leo vel fringilla est ullamcorper eget nulla. </p>

      <p>Morbi tristique senectus et netus et. Senectus et netus et malesuada fames ac turpis. Vivamus at augue eget arcu dictum varius duis at. Tellus mauris a diam maecenas sed enim ut sem. In eu mi bibendum neque. Dictum at tempor commodo ullamcorper. Nec ultrices dui sapien eget mi proin. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Diam ut venenatis tellus in metus vulputate eu scelerisque. At tellus at urna condimentum mattis pellentesque. Viverra adipiscing at in tellus integer. Feugiat pretium nibh ipsum consequat nisl vel. Proin gravida hendrerit lectus a. Aliquet eget sit amet tellus cras adipiscing enim eu. Tempus urna et pharetra pharetra massa massa ultricies. </p>

      <p>Pulvinar pellentesque habitant morbi tristique senectus. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Sed adipiscing diam donec adipiscing tristique risus. Lacus sed turpis tincidunt id aliquet risus. Habitasse platea dictumst quisque sagittis purus sit. Diam in arcu cursus euismod. In dictum non consectetur a erat nam at. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Id volutpat lacus laoreet non curabitur gravida arcu ac. Id porta nibh venenatis cras. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Lorem donec massa sapien faucibus et molestie ac feugiat. </p>

      <p id="P4"></p>
      <h2 style="font-size:4vw;">P4</h2>
      <p>Ut maximus sem id eros commodo, eget vehicula risus interdum. Aenean non diam eu sapien bibendum interdum ac at turpis. Donec sagittis mollis eleifend. Nam quis consequat lacus. Praesent dui mi, accumsan quis turpis nec, tempor pellentesque sapien. Vivamus consequat risus non felis efficitur lacinia. Donec condimentum risus fermentum, finibus nisi ullamcorper, dictum purus. Quisque rhoncus nulla ante. Ut lacinia eros at nibh tristique sagittis. Nulla sit amet tincidunt mi. Nunc sed ante diam. Morbi lectus felis, porta vel ligula sit amet, congue condimentum ipsum.  </p>

      <div class="footer">
        <span style="float: left; color: white;">
          <a href="#">
            <i class="fas fa-angle-double-left fa-blink"></i> <i class="fas fa-angle-double-left fa-blink"></i>
            <i class="fas fa-angle-double-left fa-blink"></i> <i class="fas fa-angle-double-left fa-blink"></i>
            <i class="fas fa-angle-double-left fa-blink"></i> 
          </a>
        </span>
        <span style="float: right;">
          <a href="#">
            <i class="fas fa-angle-double-right fa-blink"></i> <i class="fas fa-angle-double-right fa-blink"></i>
            <i class="fas fa-angle-double-right fa-blink"></i> <i class="fas fa-angle-double-right fa-blink"></i>
            <i class="fas fa-angle-double-right fa-blink"></i>
        </a>
        </span>
      </div>
      <div style="height: 55px;"></div>

      <h1>Share This</h1>
      <p>
        Share it with your friends and colleagues whom you think it can help
      </p>
      <!-- ShareThis BEGIN -->
      <div class="sharethis-inline-share-buttons"></div>
      <!-- ShareThis END -->

      <!-- ########################################### -->
      <!-- ############# Needs updates ############### -->
      <!-- ########################################### -->    
      <!-- begin wwww.htmlcommentbox.com -->
       <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
       <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
       <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} hcb_user.PAGE="https://juspreet51.github.io/blog/deep_learning/network_understanding_basic";(function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24WGLJ0qbFjhsr.BXys0KRJ%2F"+"&opts=16406&num=5&ts=1633641065176");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
      <!-- end www.htmlcommentbox.com -->
    
    </div> <!-- End of center body -->

    <!-- ########################################### -->
    <!-- ############## RHS Sidebar ################ -->
    <!-- ########################################### -->
    <div class="sidebar" style="float: right;">
      <h2> Topics </h2>
      <a href="#">Topic 1</a> <br>
      <a href="#">Topic 2</a> <br>
      <a href="#">Topic 3</a> <br>
      <a href="#">Topic 4</a> <br>
    </div>

  </div>
</body>
</html>