body {
    color: #ccc;
}

p {
    font-family: 'Roboto', sans-serif;
}

.bold-highlight {
    color: #A88805;
}

.diagram-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.class-box {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    background-color: #A88805;
    color: black;
}

