body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ccc;
    background-color: #000;
}

#mynetwork {
    margin: auto;
    width: 80%;
    height: 600px;
    /* border:rgb(48, 104, 48); */
    padding: 5px;
    color: white;
    background-color: black;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    height: 50px;
    display: flex;
    /* Set navbar as flex container */
    align-items: flex-start;
    /* Align items to the top */
}

.site-logo {
    float: left;
    /* Remove if not necessary */
    height: 50px;
    /* Example height, adjust as needed */
    width: auto;
    /* Maintain aspect ratio */
    /* Additional alignment styles if needed */
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    /* Adjust padding to fill the navbar height */
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    /* Adjust line height for vertical centering */
    align-self: center;
    /* Center align the text links vertically */
}

.navbar a:hover {
    background-color: rgb(54, 99, 9);
    color: whitesmoke;
}

.navbar a.active {
    background-color: #A88805;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.box,
.gap-box {
    border: 2px solid #000;
    padding: 20px;
    width: calc(33% - 40px);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    text-align: center;
}

.header-gap {
    background-color: #FFC107;
    color: black;
    text-align: center;
}

.questions-box {
    width: 100%;
    padding: 20px;
    background-color: #FFEB3B;
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tab-content {
    display: none;
    /* Hide all content by default */
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.active-content {
    display: block;
    /* Show active content */
}

.tab-content .bold-highlight {
    color: #A88805;
}

.tab-content h1,
h2,
h3 {
    color: #A88805;
    font-family: 'Kanit', sans-serif;
}

.navigator-placeholder {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.questions-metrics {
    display: flex;
    flex-direction: column;
}

.question {
    background-color: #f9f9f9;
    border-left: 5px solid #2196F3;
    /* A blue accent bar */
    margin-bottom: 10px;
    padding: 10px;
}



/* ######################################################## */
/* Top Search Bar */
.search-bar {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    border: 1px solid #303030;
    border-bottom: 2px solid #9a9a9a;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2d2d2d;
    color: white;
    transition: all 0.3s ease;
}

.search-bar::placeholder {
    color: #9a9a9a;
}

.search-bar:hover {
    background-color: #313131;
}

.search-bar:active,
.search-bar:focus {
    background-color: #1e1f20;
    border: 1px solid #2d2d2d;
    border-bottom: 2px solid #4cc2ff;
}



/* ######################################################## */
/* Top Radio Button */
.form {
    --background: #242222;
    --text: #afafaf;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 15px;
    --width: 150px;
    --height: 80px;
    margin-top: 25px;
    --border-radius: 15px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 0px 0px rgba(87, 94, 107, 0.5);
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
}

.form label {
    cursor: pointer;
}

.form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border .5s ease;
}

.form input[type="radio"]::before,
.form input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
}

.form input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    opacity: var(--opacity, 1);
}

.form input[type="radio"]::after {
    position: relative;
    width: calc(100% /2);
    height: calc(100% /2);
    background: var(--radio-checked);
    top: var(--y, 100%);
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.form input[type="radio"]:checked {
    --radio: var(--radio-checked);
}

.form input[type="radio"]:checked::after {
    --y: 0%;
    animation: stretch-animate .3s ease-out .17s;
}

.form input[type="radio"]:checked::before {
    --opacity: 0;
}

.form input[type="radio"]:checked~input[type="radio"]::after {
    --y: -100%;
}

.form input[type="radio"]:not(:checked)::before {
    --opacity: 1;
    transition: opacity 0s linear .5s;
}

@keyframes stretch-animate {
    0% {
        transform: scale(1, 1);
    }

    28% {
        transform: scale(1.15, 0.85);
    }

    50% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
}

.socials>a {
    display: block;
    width: 30px;
    opacity: .2;
    transform: scale(var(--scale, 0.8));
    transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

.socials>a:hover {
    --scale: 1;
}