body {
  margin: 0;
  background-image: 
  url('/assets/imgs/bg/Old_paper_texture_02.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2,h3,h4{
  font-family: 'Shadows Into Light', cursive;
  color: black;
}


p, ul{
  font-family: 'Reenie Beanie', cursive;
  font-size: 22px;
  color: black;
}

