* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.side_columns {
  float: left;
  width: 15%;
  padding: 5px;
  background-color: #242424;
  border-radius: 35px;
  text-align: center;
}

.mid_column {
  float: left;
  width: 70%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rhs_menu{
  text-align: left;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  color: whitesmoke;
  background-color: #242424;
}
.rhs_menu a {
  padding: 8px;
  /*margin-top: 7px;*/
  display: block;
  color: whitesmoke;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}
.rhs_menu a:hover{
  background-color: #ff004f; /*Background color of links in left side bar, when hovered*/
  border-radius: 8px;
}

.menu {
  text-align: center;
}

.menu a {
  padding: 8px;
  /*margin-top: 7px;*/
  display: block;
  color: whitesmoke;
  border-radius: 4px;
  text-decoration: none;
}
.menu a:hover{
  background-color: #ff004f; /*Background color of links in left side bar, when hovered*/
  border-radius: 8px;
}

.pinterest-img {
    margin: 10px auto 20px;
    display: block;
}


/* Style the active/current link*/
.menu a.active {
  background-color: dodgerblue;
  color: white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}