body{
  background-color: #121212
}
p{
  color: darkgrey;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
h1,h2,h4{
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
  font-family: 'Orbitron', sans-serif;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center; 
  padding: 5px;
}
u{
  font-family: 'arial', sans-serif;
}
a{
  text-decoration: none;
  /*font-size: 1.3vw;*/
}

.listings{
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
  margin-left: 15%;
  /* margin-right: 15%; */
}
.listings h3{
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
}
.listings p{
  font-size: 16px;
  margin-left: 5%;
}
.listings a:hover {
  font-weight: bold;
  color: #00FFBB; /*New Green H1 headings of blog posts page*/

}


/*Blinking Source:  https://github.com/FortAwesome/Font-Awesome/issues/2528*/
 @keyframes fa-blink {
     0% { opacity: 1; }
     25% { opacity: 0.25; }
     50% { opacity: 0.5; }
     75% { opacity: 0.75; }
     100% { opacity: 0; }
 }
.fa-blink {
   -webkit-animation: fa-blink .75s linear infinite;
   -moz-animation: fa-blink .75s linear infinite;
   -ms-animation: fa-blink .75s linear infinite;
   -o-animation: fa-blink .75s linear infinite;
   animation: fa-blink .75s linear infinite;
}
/*##########################################################################*/