.listings{
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #19FF19; /*Green H1 headings of blog posts page*/  
  font-size: 56px;
}

.listings h3{
  font-family: 'Press Start 2P', cursive;
  color: #19FF19; /*Green H1 headings of blog posts page*/  
  font-size: 40px;
}

.listings p{
  font-size: 30px;
  margin-left: 60px;
}


/*Blinking Source:  https://github.com/FortAwesome/Font-Awesome/issues/2528*/
 @keyframes fa-blink {
     0% { opacity: 1; }
     25% { opacity: 0.25; }
     50% { opacity: 0.5; }
     75% { opacity: 0.75; }
     100% { opacity: 0; }
 }
.fa-blink {
   -webkit-animation: fa-blink .75s linear infinite;
   -moz-animation: fa-blink .75s linear infinite;
   -ms-animation: fa-blink .75s linear infinite;
   -o-animation: fa-blink .75s linear infinite;
   animation: fa-blink .75s linear infinite;
}
/*##########################################################################*/