.main { 
  margin-right: 290px;
  margin-left: 25px;
  margin-top: 55px;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 26px;
  color: #19FF19;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 23px;
  color: #19FF19;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}


p {
  font-family: 'Inconsolata', monospace;
  text-align: justify;
  line-height: 1.9;
}


a {
  color: #0033cc;
}

 /*Dark background Theme*/
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
  body a {
    color: #809fff;
  }
}