body {
  background-color: #121212;
  /*Dark Theme Background*/
  color: green;
  /* body font color */
}


u{
  color: chartreuse;
  font-size: 14px;
  font-family: 'Courier New', Courier;
  text-decoration: none;
}

ul {
  color: #84817a;
  /* body font color */
}

h1, h2, h3, h4 {
  color: white font-family: 'Roboto', sans-serif;
}

.three_col_layout h1, h2, h3, h4 {
  color: #BFBFBF;
  /*Green headings color*/
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

.column_left {
  float: left;
  width: 30%;
  margin-top: 125px;
  margin-left: 5px;
  padding-left: 15px;
}

.column_right {
  float: right;
  margin-top: 125px;
  margin-right: 5px;
  padding-right: 15px;
}

.column_center {
  display: inline-block;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}


.column_left h1, h2, h3, .column_center h1, h2, h3, .column_right h1, h2, h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color:#00509d ;
  /*Green headings color*/
}

.column_left a, .column_right a {
  color: white;
}

.column_left a:hover, .column_right a:hover, .column_center a:hover {
  font-weight: bold;
  color: #ee6c4d; /*Green headings color*/
  text-decoration: underline;
}

.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.meta_info a {
  color: #00FFBB;
  /*Green headings color*/
}

.LHS_Sidebar a{
  color: darkgrey;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

.hide_in_pc a{
  color: darkgrey;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

.toc {
  text-align: left;
}

.toc a {
  text-decoration: none;
  color: darkgrey;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

.toc a:hover {
  font-weight: bold;
}


.blog_content h1, h2, h3 {
  color: #BFBFBF;
  /*Green headings color*/
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

.blog_content h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  font-weight: bold;
  color: #84817a;
}

.blog_content p, a, b, i, ol li, ul li {
  line-height: 150%;
}

.blog_content p, ol, ul, ol li, ul li {  
  color: #84817a;
  /* body font color */
  font-family: 'Calibri';
  font-size: 22px;
  text-align: justify;
}

.blog_content b {
  font-family: 'Tahoma';
  font-size: 22px;
  color:#1E5128  /* font  color for bold blog content */
}

.blog_content i {
  font-family: 'Baskerville Italic','Orpheus Italic';
  font-size: 23px;
  color:lightgrey; /* font  color for italics blog content*/
}

.blog_content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 80%;*/
  height: auto;
}

.img_credit {
  text-align: center;
  margin: 25% 25%;
  opacity: 35%;
}

.footer {
  /* margin-left: 25px; */
  width: 90%;
  margin-left: 25px;
}

/* for a arrow symbol over character to represent vectors in linear algebra */
var.vector {
  font-style : normal;
}
var.vector span {
  margin-left: -.55em;   /* shift the arrow back over the letter */
  vertical-align : .2em; /* tune the arrow vertical position */
}

/*Hide sidebars, when screen size too small*/

/* We're using max-width, because we want to make an exception to the CSS, 
when a screen is smaller than the 1200px */

@media only screen and (max-width: 1200) {
  .mobile_hide {
    display: none;
  }
  .column_center {
    width: 99%;
  }
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  .column_left {
    display: none;
  }
  .column_center {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .hide_in_pc{
    display: none;
  }
}