* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 15%;
  text-align: center;
  background-color: #1b1b1b;  /*Colored line in between 2 links of left side bar*/
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  

  color: whitesmoke;
  background-color: #1b1b1b;  /*Background color links in left side bar*/
  border-radius: 4px;
}
.menu a:hover{
  background-color: #ff004f; /*Background color of links in left side bar, when hovered*/
  border-radius: 8px;
}

.right {
  color: whitesmoke;          /*Text color of right side bar*/
  background-color: yelllow;

  float: right;
  width: 15%;  /*padding: 5px;*/
  margin-top: 7px;  margin-right: 19px;
  text-align: center;
}
.right h2:hover{
  background-color: #ff004f;
  border-radius: 8px;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  color: burlywood;           /*Text color of body*/
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 100%;
}

body {
  color: whitesmoke;
  background-color: #121212;
}

body p{
  text-align: justify;
}

body a {
  color: #ff004f;
}
body a:hover {
  background-color: #ff004f;
  color: black;
  border-radius: 4px;
}

h1,h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color: white;
}

.left_text{
  float: left
}
.left_text p{
  font-size: 18px;
}
.left_text a:hover{
  color: black;
  background-color: #ff004f;
}
.left_text a.auth_name {
  font-weight: bold;
  text-decoration: none;
}


.right_text{
  float: right
}
.right_text p{
  font-size: 18px;
}

.center_text{
  margin: 0 auto; 
  width: 100px;
}
.center_text p{
  font-size: 18px;
}

/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
    top: 10px;
    position: relative;
}
 
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
 
#image-text{
    /*position: absolute;*/
/*    top: 60%;
    left: 60%;*/
  font-family: 'Roboto';
  color: white;
  transform: translate(-30%, -30%);
  text-align: justify;
}
/*****************************/
/* Styling Header Image Menu */
/*****************************/



@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}