.sidebar{
  width: 15%;
  text-align: center;
}
.center_body{
  display: inline-block; 
  width: 70%; 
  text-align: justify;
  padding-left: 10px;
}

/* On screens that are 600px or less, dont' display sidebar */
@media screen and (max-width: 600px) {
  .sidebar {
    display: none !important;
    }
  .center_body{
  width: 100%; 
  text-align: justify;
  padding-left: 10px;
}
  }