body{
  background-color: #121212
}
p{
  color: darkgrey;
}
p:hover{
  top: -5px;
}
ul{
  color: darkgrey;
}

.sidebar{
  width: 15%;
  padding-left: 5px;
  margin-top: 125px;
}
.sidebar h2{
  font-size:2vw
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
}
.sidebar a{
  font-size:1.3vw;
  text-align: left;
  color: white;
}
.sidebar a:hover{
  font-size:1.3vw;
  font-weight: bold;
  text-align: left;
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
}
.meta_info p,a{
  font-size: 1.3vw;
}
.center_body{
  display: inline-block;
  width: 68%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
.center_body p{
  color: darkgrey;
}
.center_body i{
  font-family: 'Kalam', cursive;
  font-size: 15px;
}
.center_body b{
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
  color: #da9600
}
.center_body sup a{
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
  font-weight: bold;
}

.cover img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.cover img:hover{
  position: relative;
  top: -5px;
}

.post_body img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.footer a{
  color: ##00FFBB; /*New Green H1 headings of blog posts page*/
}

h1,h2,h3,h4{
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
  font-family: 'Orbitron', sans-serif;
}
h2{
  font-size:2vw
}
p{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  font-size: 1.3vw;
}
.custom_link{
  font-size:1.3vw;
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
}
.center_body a:hover{
  font-size:1.3vw;
  font-weight: bold;
  color: #00FFBB; /*New Green H1 headings of blog posts page*/
}

.post_title h1{
  font-size: 30px;
  text-align: left;
}


/* On screens that are 600px or less, dont' display sidebar */
@media screen and (max-width: 600px) {
  .sidebar {
    display: none !important;
    }
  .center_body{
  width: 100%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  }
}
