body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    color: whitesmoke;
    padding: 10px; /* Add some padding to prevent content from touching the edges */
}

.container {
    width: 100%;
    max-width: 400px; /* Limit the container width for larger screens */
    text-align: center;
    background-color: #353333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

/* Quick Pay Buttons */
.quick-pay {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.quick-pay-button {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px; /* Adjust margin for spacing */
    transition: background-color 0.3s ease;
    flex: 1 1 100px; /* Flex settings to adjust button width */
    max-width: 120px; /* Set a maximum width for larger screens */
}

.quick-pay-button:hover {
    background-color: #e64a19;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="number"] {
    width: 100%; /* Ensure full width on mobile */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width calculation */
}

button#pay-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width for easier clicking */
}

button#pay-button:hover {
    background-color: #45a049;
}

.qr-code img {
    width: 100%;
    max-width: 150px; /* Set a maximum width for the QR code image */
    height: auto;
    margin-top: 20px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .quick-pay-button {
        flex: 1 1 calc(50% - 10px); /* Two buttons per row */
        margin: 5px;
    }

    input[type="number"] {
        font-size: 14px;
    }

    button#pay-button {
        font-size: 14px;
    }
}
